<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="11602GoodTimeStudio.MyPhoneAssistant"
    Publisher="CN=26FBF7DF-0382-4C02-8985-D8DE01CEF4A3"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="cd549a47-7652-4d83-b52a-f9eb39b8e292" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>My Phone Assistant</DisplayName>
    <PublisherDisplayName>GoodTime Studio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MyPhone.App">
      <uap:VisualElements
        DisplayName="My Phone Assistant"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="MyPhone"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="contacts"/>
    <uap:Capability Name="phoneCall"/>
    <rescap:Capability Name="phoneLineTransportManagement"/>
    <rescap:Capability Name="phoneCallSystem"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="radios"/>
  </Capabilities>
</Package>