<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap desktop">

  <Identity
    Name="11602GoodTimeStudio.MyPhoneAssistant"
    Publisher="CN=26FBF7DF-0382-4C02-8985-D8DE01CEF4A3"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>My Phone Assistant</DisplayName>
    <PublisherDisplayName>GoodTime Studio</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="My Phone"
        Description="PackageProject"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="MyPhone.TrayApp\MyPhone.TrayApp.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="MyPhone.TrayApp" Enabled="true" DisplayName="My Phone" />
        </desktop:Extension>
        <uap:Extension Category="windows.protocol" Executable="MyPhone.exe" EntryPoint="GoodTimeStudio.MyPhone.App">
          <uap:Protocol Name="goodtimestudio.myphone-launch">
            <uap:DisplayName>My Phone</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="contacts"/>
    <uap:Capability Name="phoneCall"/>
    <rescap:Capability Name="phoneLineTransportManagement"/>
    <rescap:Capability Name="phoneCallSystem"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="radios"/>
  </Capabilities>
</Package>
